// Specific CSS for your home-page
.banner{
  background-image: url(books-5937823_1920.jpg);
  background-size: cover;
  height: 500px;
}
.phrase{
  padding-top: 100px;
  width: 400px;
  padding-left: 100px;
  font-size: 24px;
  text-align: initial;
}
.home-btn{
  padding-top: 10px;
  padding-left: 100px;
}
