.headline{
  color: #537AA2;
  margin-top: 50px;
  border-bottom: 1px solid #537AA2;
  margin-bottom: 25px;
  font-family: 'Oxygen', sans-serif;
}

.search-result{
  font-family: 'Oxygen', sans-serif;
  color: #537AA2;
  text-align: center;
}

.img-book{
  width: 60px;
  position: absolute;
  bottom: 18px;
  left: 125px;
}

.img-book-2{
  width: 45px;
  position: absolute;
  bottom: 18px;
  left: 125px;
}
