<div class="banner">
  <div class="phrase">
    <p><%= @line %></p>
  </div>
  <div class="home-btn">
    <%= link_to 'Start Reading', books_path, class: "btn btn-ghost", id:"log-in" %>
  </div>
</div>
