<div class="banner">
  <div class="phrase">
    <p><%= @line %></p>
  </div>
  <div class="home-btn">
    <%= link_to 'Start Reading', books_path, class: "btn btn-ghost", id:"log-in" %>
  </div>
</div>
<div class="footer">
  <div class="steps">
    <div class="step">
      <h4>Find your book</h4>
      <i class="fas fa-search"></i>
    </div>
    <div class="step">
      <h4>Reserve it</h4>
      <i class="far fa-bookmark"></i>
    </div>
    <div class="step">
      <h4>Read it!</h4>
      <i class="fa fa-book"></i>
    </div>
    <div class="step">
      <h4>Return it</h4>
      <i class="far fa-check-circle"></i>
    </div>
  </div>
</div>
