<br>
<div class="container-book-index">
  <% @books.each do |book| %>
    <div class="book-info">
      <p><strong><%= book.title %></strong></p>
      <p><%= book.author %></p>
      <%= link_to "view", book_path(book), class: "btn btn-ghost", id:"book-view"%>
    </div>
  <% end %>
</div>
