<br>
<div class="container">
  <% @reservations.each do |reservation| %>
    <h2><%= reservation.book.title %></h2>
    <h2><%= reservation.user.first_name %></h2>
    <h3><%= link_to "Mark as returned", book_reservation_path(reservation.book.id, reservation.id), method: :patch %></h3>
    <br>
  <% end %>
</div>
