<br>
<div class="container">
  <% @reservations.each do |reservation| %>
    <h2><%= reservation.book.title %></h2>
    <h2><%= reservation.user.first_name %></h2>
    <h3><%= link_to "Mark as returned", root_path %></h3>
    <br>
  <% end %>
</div>
