<div class="container">
  <h2 class= "headline">Active Reservations</h2>
  <div class="container-book-index">
    <% @open_reservations.each do |reservation| %>
      <div class="book-info">
        <p><%= reservation.book.title %></p>
        <%= image_tag "open-book.png", class: "img-book" %>
      </div>
    <% end %>
  </div>
  <h2 class= "headline">Previous Reservations</h2>
  <div class="container-book-index">
    <% @closed_reservations.each do |reservation| %>
      <div class="book-info">
        <p><%= reservation.book.title %></p>
        <%= image_tag "closed-book.png", class: "img-book-2" %>
      </div>
    <% end %>
  </div>
</div>
